body {
    font-family: Arial, sans-serif;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
  }
  .timer-input {
    text-align: center;
    background-color:black;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    border:5px solid goldenrod;
    color: chartreuse;
    
  }
  .controls button{
    color:chartreuse;
    background-color: black;
    padding:6px;
    margin:5px;
    box-shadow: wheat;
    /* visibility: visible; */

  }